
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="undermaintenance">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="undermaintenance"> 
    </div>
</body>
</html>
