@model IEnumerable<WebPortal.Models.webportal_patient_info>
@using WebPortal.Models;

<div class="row">
        @foreach (var item in Model)
        {
            <br />
        <center>
        <div class="col-lg-3">
            <img src="~/Images/Reports_icons/user-icon.png" width="110" height="110" />
        </div>
        <div class="col-lg-5" style="text-align:justify;">
            <h4>Patient Name :&nbsp;&nbsp;&nbsp;<b>@item.last_name_l , @item.first_name_l @item.middle_name_l</b></h4>
            <h4>Hospital Number :&nbsp;&nbsp;&nbsp;@item.hospital_nr</h4>
            <h4>Birthday :&nbsp;&nbsp;&nbsp;@item.date_of_birth.Value.ToString("dd MMMM yyyy")</h4>
        </div>
        <div class="col-lg-2">
            <h4>Age :&nbsp;&nbsp;&nbsp;@item.age years old</h4>
            <h4>Gender :&nbsp;&nbsp;&nbsp;@item.gender</h4>
        </div>
        </center>
        }
</div>
<div class="row">
    
</div>
