@*model WebPortal.Models.OPSViewModel*@
@model PagedList.IPagedList<WebPortal.Models.webportal_patient_prev_surgeries>
@using PagedList.Mvc;
@using PagedList;

<ul class="list-group row">
    @*<li class="list-group-item col-xs-12"><h5>Allergen</h5></li>*@

    @foreach (var item in Model)
    {
        <li class="list-group-item col-xs-12">
            <h6>@Html.DisplayFor(model => item.previous_surgeries)</h6>
        </li>
    }
    
</ul>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("OutpatientMedicalCareProfile", new { page, filter = ViewBag.Filter }))
<br />
<br />

