@model WebPortal.Models.OPSViewModel

<ul class="list-group row">


    <li class="list-group-item col-xs-4"><h5>Visit Date</h5></li>
    <li class="list-group-item col-xs-4"><h5>Visit Type</h5></li>
    <li class="list-group-item col-xs-4"><h5>Charge Type</h5></li>

    @foreach (var item in Model.patient_prev_hosp)
    {

        <li class="list-group-item col-xs-4">
            <h6>@Html.DisplayFor(model => item.visit_start_date_time)</h6>
        </li>

        <li class="list-group-item col-xs-4">
            <h6> @Html.DisplayFor(model => item.visit_type)</h6>
        </li>

        <li class="list-group-item col-xs-4">
            <h6>@Html.DisplayFor(model => item.charge_type)</h6>
        </li>

    }
</ul>
<br />
<br />
