@*model WebPortal.Models.OPSViewModel*@
@model PagedList.IPagedList<WebPortal.Models.webportal_patient_prev_surgeries>
@using PagedList.Mvc;
@using PagedList;

<div id="tbl-wrapper5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Previous Surgeries</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group row">
                @*<li class="list-group-item col-xs-12"><h5>Allergen</h5></li>*@

                @foreach (var item in Model)
                {
                    <li class="list-group-item col-xs-12">
                        <h6>@Html.DisplayFor(model => item.previous_surgeries)</h6>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("OMCPpatientPrevSurg", new { page, currentfilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "tbl-wrapper5"
        }))






